.menu {
    color:white;
    background-color:black;
    font-weight:bold;
}

.logo {
      margin: 0 auto;
}

.header h1 {
    text-align:center;
    color: red;
}

.pure-menu-selected {
    color:red;
}

.pure-menu-item a:hover {
    color:red;
    background-color:black;
}

.content {
    margin: auto;
    width: 60%;
    padding: 10px 40px;
    text-align: center
}

footer {
    text-align: center;
}

a:link {
   color:inherit;
}

a:visited {
    color:inherit;
}
